
body{
    background-color: #eee;
}

.main{
     background-color: #C0C0C0;
     display: flex;
     width: 95%;
     max-width: 1000px;
     margin: auto;
     box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3) ; 	
     flex-wrap : wrap;  
}
 @media all and(max-width: 1024px){
 	.img-box{
 	column-count: 3;
    max-width: 90% ;
 }
 }
 @media all and(max-width: 768px){
 	.img-box{
 	column-count: 2;
    max-width: 100% ;
}
}
@media all and(max-width: 480px){
 	.img-box{
 	column-count: 1;
}
}       
@media all and (min-width: 1200px){
       .image:hover{
       opacity: 1;
       filter: hue-rotate(45deg);

}
.author: hover {
	border-color: #111;
	}
}
 
